opencv-python==4.11.0.86
numpy==2.2.6
vosk==0.3.45
ultralytics==8.3.148
sounddevice==0.5.2
soundfile==0.13.1
webrtcvad==2.0.10
kokoro-onnx==0.4.9
llama_cpp_python==0.3.9
word2number==1.1
openvino==2025.2.0
fastapi==0.115.14
uvicorn==0.34.3
python-multipart==0.0.20